
  body {
    font-family: 'Roboto', 微軟正黑體;
    text-transform:uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 1280px;
    height: 100vh;
    min-height: 800px;
    margin: 0;
    padding: 0;
    background-color: rgb(221, 221, 221);
  }